.container-box {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  display: flex;
}
#logo {
  color: white;
  padding-left:3%;
}
#rooms {
  padding-left: 3%;
}
#btn-group-menu {
  padding-right: 1%;
}
#left-menu {
  background-color: #404040;
  height: 100%;
  width: 15%;
  -webkit-box-shadow: 1px 1px 1px lightgrey;
  -moz-box-shadow: 1px 1px 1px lightgrey;
  box-shadow: 1px 1px 1px lightgrey;
  position: fixed;
}


#task-column-container {
  width: 85%;
  height: 100%;
  margin-left: 15%;
}

#btn-room, #room-name {
  margin-top: 1%;
}

#my-rooms {
  margin-top: 10%;
  color: white;

}
#btn-room {
  color:cornflowerblue;
}
#btn-room:hover {


}
.room-name {
  outline: 0;
  padding-left: 3%;
}
.room-name:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 20px;

}


a {
  cursor: pointer;
}


.room-name {
  font-size: 20px;
overflow: hidden;
}
button {
  margin:1%;
}
.menu{
  border-right: 1px solid white;
  color:white;
  margin-right:2%;
  padding-right:3%;
}
.activities {
  list-style: none;
}

