
<div class="container-box">
    <div id="left-menu">
      <h3 id="logo"><i>{{companyName}}</i></h3>
      <div><input [(ngModel)]="name" id="room-name" type="text" class="form-control"></div>
      <div class="text-center">
        <a (click)="createRoom()" id="btn-room">Add New Room</a>

      </div>
      <div *ngIf="roomExistsAlert" class="alert alert-danger">This room name exists</div>
      <div id="my-rooms">
        <h4 id="rooms" ><i>Rooms</i></h4>
        <div *ngIf="addRoom">
          <div *ngFor="let room of addRoom" [routerLink]="['/user', room.id]">
            <i>
              <div id={{room.id}} class="room-name"
                   (click)="listClick($event, room.id)">{{room.name}}
              </div>
            </i>
          </div>
        </div>
      </div>
    </div>
    <div id="task-column-container">
      <div class="text-right" id="btn-group-menu">
        <a class="menu" id="username" data-toggle="modal" data-target="#profile">{{username}}</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#activities" (click)="loadActivities()">Activity</button>
        <a class="btn btn-light" (click)="logout()">Logout</a>
      </div>
      <router-outlet></router-outlet>

    </div>
</div>

<div class="modal fade" id="activities" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div><h3>User Activities</h3></div>
      </div>
      <div class="modal-body">
        <ul class="activities" *ngFor="let activity of activities">
          <li>
            <h5>{{activity.action}}</h5>
            <div>{{activity.text}}</div>
          </li>
        </ul>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger " data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="profile" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div><h3>Profile</h3></div>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tr>
            <td>Username: </td>
            <td>{{username}}</td>
          </tr>
          <tr>
            <td>Email: </td>
            <td>{{email}}</td>
          </tr>
          <tr>
            <td>
              Position:
            </td>
            <td>
              Web Developer
            </td>
          </tr>

        </table>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger " data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
